body{
  background-color: #C1FFD7;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

p{
  font-size: 1.5rem;
}

span{
  text-decoration: underline;
}

h1{
  font-family: 'Indie Flower', cursive;
  font-size: 4.5rem;
  color: #8CA1A5;
}

h2{
  font-family: 'Merriweather', serif;
  color: #6F69AC;
}

h3{
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  color: #6F69AC;
}
hr{
  margin: auto;
  border-style: dotted none none;
  border-width: 7px;
  border-color: lightgrey;
  width: 5%;

}

.aldo{
  width: 25%;
}

.front{
  text-align: center;
  padding: 30px 0 100px;
}

.football{
  position: absolute;
  width: 15%;
  top: 0;
  left: 0;
}

.golf{
  position: absolute;
  width: 15%;
  height: 50%;
  bottom: 0;
  left: 250px;
}

.excercise{
  position: absolute;
  width: 15%;
  bottom: 0;
  right: 250px;
}

.games{
  position: absolute;
  width: 15%;
  top: 0;
  right: 0;
}

.homepage-top{
  background-color: #A9E4D7;
}

.homepage-middle{
  position: relative;
  padding: 5% 0 ;
}

.hobbies-list{
  display: inline-block;
}

.homepage-footer{
  background-color: #A9E4D7;
  padding: 5%;
}


.foot-item{
  margin: 20px 40px;
}

.top-section{
  background-color: #A9E4D7;
  text-align: center;
  margin-bottom: 60px;
  padding-top: 35px;
}

.middle-section{
  text-align: center;
}

.bottom-section{
  background-color: #A9E4D7;
  text-align: center;
  padding: 20px 0;
}


.education{
  text-align: center;
  padding: 5%;
  margin: 40px auto;
}

.education-row{
  margin: 100px auto;
}

.nih-image{
  float: left;
  margin-right: 30px;
}

.ullern{
  float: right;
  margin-left: 40px;
}

.resume-header{
  text-decoration: underline;
}

.footer-link{
  margin: 30px 40px;
}

.eduwork-para{
  font-size: 1.5rem;
  font-weight: 300;
}

.footer-link:hover{
  color: white;
}

.work{
  text-align: center;
  padding: 5%;
}

.work-row{
  margin: 40px auto;
}


.golf-proj{
  float: left;
  margin-right: 30px;
}

.football-proj{
  float: right;
  margin-left: 30px;
}

.excercise-proj{
  float: left;
}

.portfolio-body{
  padding: 5%;
}

.project-item{
  margin: 100px auto 20px;
  font-size: 0.5;
  font-weight: 300;
}

.project-item2{
  margin: 100px auto 20px;
  font-size: 0.5rem;
  font-weight: 300;

}

.project-item3{
  margin: 90px auto;
  font-size: 0.5;
  font-weight: 300;
}

.h2-portfoliotop{
  margin: 20px auto 90px;
}

.universal{
  text-align: center;
}

.explanation-para{
  font-size: 1rem;
  width: 30%;
  margin: 15px auto;
}
